body {
    color: black;
    background-color: #4F8BF9;
}

.stButton>button {
    background-color: yellow;
    color: black;
    border-radius: 50%;
    height: 6em;
    width: 6em;
}

.stTextInput>div>div>input {
    color: black;
background-color: blue;
}
